body
{
    background-color: black;
}
.color
{
    margin-top: 90px;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
img
{
    border: 5px white solid;
    width: 100%;
}
